html {
    max-width: 1000px;
    margin: auto;
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto 1fr auto;
}


header {
    grid-row: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightskyblue;
    align-items: center;
    padding: 10px;
    font-family: Arial;
}

nav ul {
    list-style: none;
    display:flex;
    padding-left: 0;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    gap: 15px;

}

main {
    grid-row: 2;
    text-align: justify;
}

footer {
    grid-row: 3;


    background-color: lightskyblue;
    align-items: center;
    padding-left: 0;
    padding: 10px;
    text-align: center;
}



@media (max-width : 600px) {
    body {
        background-color: bisque;
    }
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

@media (max-width : 350px) {
    body {
        background-color: bisque;
        flex-direction:  column;
        align-items: flex-start;
    }

    nav ul{
        flex-direction: column;
        align-items: center;
    }
}
