body{
    width: 1000px;
    margin: auto;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
}

h1 {
    font-family: Arial;
    color: slategrey;
}
.header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

header {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
}

h2 {
    font-family: Arial;
}

p {
    font-family: Arial;
}

html {
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 600px;
    height: 400px;
    margin-left: 3cm;
}

main{
    margin-left: 20px;
    grid-column: 2;
    grid-row: 2;
}

#Sommaire a:hover {
    background-color: aqua;
    color: blue;
}

#Sommaire {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

aside {
    grid-column: 1;
    grid-row: 2;
    background-color: aquamarine;
}

footer{
    grid-column: 1 / span 2;
    grid-row: 3;
}

